.header{
	padding: 16px 19px 0px 21px;
}
.profile-top{
    margin-bottom: 14px;
}
.profile-top-name{
    padding-top: 6px;
    letter-spacing: 0.2px;
}
.profile-top-profession{
	color: #808080;
    margin-top: 7px;
    font-size: 0.76em;
}
.profile-top-logo{
    display: inline-block;
    float: left;
    margin-right: 10px;
}
.profile-top-description{
	background: #fffbc8;
	border: 1px solid #cecabf;
	border-radius: 5px;
	margin-top: 6px;
    padding: 8px 0;
    font-size: 0.9em;
    letter-spacing: -0.1px;
    line-height: 18px;
    margin-left: 50px;
}
.profile-bottom{
    margin-bottom: 15px;
	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}
.profile-bottom-block{
    float: right;
}
.profile-bottom-table{
    width: 71%;
    font-size: 0.85em;
   	width: 319px;
   	border-left: 1px solid rgba(178, 178, 178, 0.5);
}
.profile-table-title{
    display: block;
    margin-bottom: 14px;
    text-align: right;
    font-size: 0.8em;
    padding-right: 34px;
    border-bottom: 1px solid #cccccc;
    width: 319px;    
    padding-bottom: 7px;
}
.table-thead{
	border-bottom: 1px solid #cccccc;
}
.table-tbody-value{
	&:first-child{
		margin-top: 15px;
	}
    display: inline-block;
    padding: 7px 8px;
}
.table-tbody{
	font-size: 0.85em;
    letter-spacing: 0.5px;
}
.table-tbody-left{
    display: inline-block;
    margin-top: 20px;
    margin-left: 7px;
}
.progress{
  font: 12px Arial, Tahoma, sans-serif;
  position: relative;
  overflow: hidden;
}
.progress progress{
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  left: -777px;
}

.progress-bar{
  overflow: hidden;
  background: #ac92ec;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.progress-value{
  color: #333;
  display: block;
  line-height: 21px;
  text-align: center;
}

.progress-bg{
  background: #e6e9ed;
  position: relative;
  height: 24px;
  border-radius: 0 3px 3px 0
}
.green{
	background: #b1e19b;
}
.blue{
	background: #ace2f8;
}
.progress-text{
	min-width: 146px;
    padding: 5px;
    display: inline-block;
}
.progress-booking{
	width: 82%;
}
.progress-tours{
	width: 20%;
}
.progress-hotels{
	width: 13%;
}
.profile-total-block{
    width: 319px;
    font-size: 1em;
    margin-top: 14px;
    border-top: 1px solid #cccccc;
    padding-top: 13px;
    margin-bottom: 10px;
}
.profile-total{
    display: inline-block;
    width: 50%;
}
.profile-total-value{
    display: inline-block;
    width: 48%;
    text-align: right;
    padding-right: 31px;
}